{{ form_start(form) }}

<div class="opponents">
{{ form_widget(form.users) }}
<div>VS</div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="game_current_user">Username: {{ app.user.displayName }}</div>
    {% endif %}
</div>
<ul class="sets" data-prototype="{{ form_widget(form.sets.vars.prototype)|e('html_attr') }}">
</ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
