<h4>{{ winLooseStat.firstname }} {{ winLooseStat.lastname }} <a href="{{ path('user_show', {'id': winLooseStat.id }) }}"><span class="far fa-user"></span></a></h4>
<canvas
        id="{{ gamePrefix }}_pie_{{ winLooseStat.id }}"
        class="charts_pie_win_loose"
        width="50"
        height="50"
        data-nbwin="{{ winLooseStat.nb_win }}"
        data-nbloose="{{ winLooseStat.nb_loose }}"
>
</canvas>
<script>

</script>