{% extends 'base.html.twig' %}

{% block title %}Set index{% endblock %}

{% block body %}
    <h1>Set index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for set in sets %}
            <tr>
                <td>{{ set.id }}</td>
                <td>{{ set.createdAt ? set.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ set.updatedAt ? set.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('set_show', {'id': set.id}) }}">show</a>
                    <a href="{{ path('set_edit', {'id': set.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('set_new') }}">Create new</a>
{% endblock %}
